*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* height: 100vh; */
    display: flex;
    justify-content:space-between;
    overflow-y: auto;
}

.left{
    width: 900px;
    padding: 60px;
    /* border: 2px solid black; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_nav img{
    margin: 10px ;
}

.right_nav>div{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    width: 300px;
    /* border: 1px solid; */
}
.login_btn{
    cursor: pointer;
    padding: 5px;
    background-color: white;
    color: black;
}
.login_btn>button{
    cursor: pointer;
    border-radius: 4px;
}
.login_btn>.btn1{
    padding: 5px;
    color: white;    background-color: #ff8c00;
}

.heading> h1, h3 , .PNR_container{
    margin: 30px 20px;
}
.heading>h3>.span1{
    color:#01BB0A;
}
.heading>h3>.span2{
    color:#ff8c00;
}
.heading>h3>.span3{
    color:#213D77;
}



.PNR_container{
    /* margin: 30px 20px; */
    display: flex;
    align-items: center;
}

.PNR_container>div{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px soild grey; */
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px;
   
}
.PNR1{
    background-color: #213D77;
    margin-left: 0;
    color: white;
}
.PNR2{
    border: 1px solid gray;
}


.from_to{

    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 0px;
    margin: 20px;
}

.from_left ,.from_right,.from_middle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.from_left>div,.from_right>div{
    margin: 10px;
}

.from_left>div>.from, .from_middle>div>.from, .from_right>div>.from{
    font-size: 1.2rem;
    font-weight: bold;
}

.from_to_container>.search_btn{
    margin: 30px 20px;
}

.from_to_container>.search_btn>button{
    background-color:#01BB0A ;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 7px;
    height: 2.5rem;

}
.right{
    align-items: end;
    padding: 20px 40px;
margin-top: 0;    
/* border: 2px solid black; */
    overflow: auto;
}
.right img{
    height:720px;
}
